/* This file is for your main application CSS */
@import "./phoenix.css";

.calculator {
    display: grid;
    gap: 10px;
    min-width: 400px;
    grid-template-areas:
        'result result result result result'
        'expression expression expression expression expression'
        'delete open-parentheses close-parentheses empty empty'
        'number7 number8 number9 add subtract'
        'number4 number5 number6 divide multiply'
        'number1 number2 number3 calculate calculate';

    padding: 10px;
}

.calculator .expression {
    grid-area: expression;
    min-height: 50px;
    border: 5px solid black;
    text-align: right;
}
.calculator .result {
    grid-area: result;
    min-height: 50px;
    text-align: right;
    font-size: 40px;
}
.calculator button {
    font-size: 25px;
}
.calculator .delete {
    grid-area: delete;
}
.calculator .open-parentheses {
    grid-area: open-parentheses;
}
.calculator .close-parentheses {
    grid-area: close-parentheses;
}
.calculator .number {
    grid-area: number;
}
.calculator .operator {
    grid-area: operator;
}
.calculator .calculate {
    grid-area: calculate;
}

.calculator .empty { grid-area: empty; }







/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
